<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title %} Sintayehu Shibeshi {%endblock%}
    </title>
    <link rel="stylesheet" href="/assets/tailwind/css/styles.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body >
   {%block content %} {%endblock%}
</body>
</html>